/* Block Viewed Products */
#viewed-products_block_left .products li {
	padding:0.5em;
	border:1px solid #ccc;
	background: #fff;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	margin-top: 5px;
}
/*#viewed-products_block_left .products li.last_item {
	padding-bottom:0;
	border:none;
}*/

#viewed-products_block_left .content_img {
	float:left;
}
#viewed-products_block_left .text_desc {
	float:left;
	margin-left: 10px;
   width: 106px;
}
#viewed-products_block_left li .text_desc .s_title_block, #viewed-products_block_left li .text_desc h5 {
	padding:0 0 5px 0;
	font-size:12px;
	color:#333;
	font-weight: bold;
}
#viewed-products_block_left li .s_desc_block{
	clear: both;
}
#viewed-products_block_left li .text_desc .s_title_block a, #viewed-products_block_left li .text_desc h5 a {
	color:#333;
}
#viewed-products_block_left li .text_desc p,
#viewed-products_block_left li .text_desc p a {
	padding-bottom:0;
	line-height:14px;
	color:#666
}

