/* BLOCK #reinsurance_block ******************************************************************** */
#reinsurance_block {
	background:url(../blockreinsurance/img/bg_reinsurance_block.gif) repeat-x 0 0 #c3c7cb;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.3) inset,0px 2px 2px 0px rgba(255,255,255,0.5) inset;
	        box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.3) inset,0px 2px 2px 0px rgba(255,255,255,0.5) inset;
}
#reinsurance_block li {
	font-family: 'Merienda One';
	float: left;
	padding: 15px 10px !important;
	font-size: 14px;
	color: #383838;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.53);
}
#reinsurance_block .width1 li {width:960px}
#reinsurance_block .width2 li {width:470px}
#reinsurance_block .width3 li {width:305px}
#reinsurance_block .width4 li {width:224px}
#reinsurance_block .width5 li {width:175px}
#reinsurance_block li img{
	float:left;
	margin-right:10px;
}
#reinsurance_block li span {
	float:left;
	padding-top:12px;
	width:65%;
}